


body {
  background: #c5e2d6;
font-family: 'Shadows Into Light', cursive !important;
}
p {
 font-family: 'Shadows Into Light', cursive;
}
footer {
      background-color: #555;
      color: white;
      padding: 15px;
    }

.container {
  background-image: url(images/image1.jpg);
  width: 900px;
  height: 800px;
  margin: 5% ;
  position: relative;
}
.container .map {
  width: 40%;
  float: right;
   
}
.container .contact-form {
  width: 53%;
  margin-left: 2%;
  float: left;
}
.container .contact-form .title {
  font-size: 2.5em;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  color: white;
  margin: 5% 8%;
  }
.container .contact-form .subtitle {
  font-size: 1.2em;
  font-weight: 400;
  margin: 0 4% 5% 8%;
}
.container .contact-form input,
.container .contact-form textarea {
  width: 330px;
  padding: 5%;
  margin: 2% 8%;
  color: #242424;
  border: 1px solid #B7B7B7;
}
.container .contact-form input::placeholder,
.container .contact-form textarea::placeholder {
  color: #242424;
}
.container .contact-form .btn-send {
  background: #A383C9;
  width: 180px;
  height: 60px;
  color: #FFFFFF;
  font-weight: 700;
  margin: 2% 8%;
  border: none;
}


