body {
	margin:0;
	padding:0;
	
}
h3 {
	color: #de52bc;
	margin-left: 35%!important;
	margin-bottom: 40px;

}
h1 {
	font-family: 'Satisfy', cursive!important;
  color: white;
 
}
/*header*/

.header {
    height: 450px;
    width: 100%;
    background: rgb(62,57,107);
    position: relative;
}
.header__texture {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0; left: 0;
    background: url(./images/bgweb.jpg) center no-repeat;
    background-size: cover;
    z-index: 9;
    opacity: 0.6;
}
.header__mask {
    position: absolute;
    bottom: 0;
    background: 0 0;
    height: 42px;
    width: 100%;
    z-index: 20;
}
.header__navbar {
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
   justify-content: space-between;
   align-items: center;
   }
.header__navbar__logo-title {
    color: #fff;
    font-size: 28px;



   
}
.header__navbar--menu-link {
    margin-left: 40px;
    color: #fff;
    text-decoration: none;

}
.header__slogan{
    text-align: center;
    margin-top: 60px;
}
.h__slogan-title {
    color: #fff;
    font-size: 50px;
    text-transform: uppercase;
    font-family: 'Anton', sans-serif;
    font-style: italic;
    margin-bottom: 60px;
}
.h__slogan--btn {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 20px;
    background: #302775;
    border-radius: 10px;
    border: 3px solid white;

}
.container {
    width: 90%;
    margin: auto;
    position: relative;
    z-index: 999;
}
/*end header*/

a{
	text-decoration:none;
	
}
a:hover{
	color: green;
}

h4{text-align:center;
	margin:30px 0;
	color:#444;

}


.colonne {
	margin: 15px 25px 0 25px;
	padding: 0;
}
.colonne:last-child {
	padding-bottom: 60px;
}
.colonne::after {
	content: '';
	clear: both;
	display: block;
}
.colonne div {
	position: relative;
	float: left;
	width: 200px;
	height: 150px;
	margin: 0 0 0 35px;
	padding: 10px;
}
.colonne div:first-child {
	margin-left: 20px;
} 
.voir {
	color: green;
}
/*animation*/
.home-section .bg-shapes div {
  position: absolute;
  opacity: 0.12;
  }

.home-section .bg-shapes div:nth-child(1) {
    height: 130px;
    width: 130px;
    top: 285%;
    left: 70%;
    z-index:4;
    background-color: #f051ea;
    border-radius: 50%;
    animation: shapeani01 5s linear infinite;
}
.home-section .bg-shapes div:nth-child(2){
 
}
.home-section .bg-shapes div:nth-child(3){
	height: 100px;
	width: 100px;
	top: 355%;
	left: 20%;
	z-index:2;
	background-color: transparent;
	border-radius: 50%;
	border:7px solid #7aadf5;
	border-left: : 5px solid transparent;
	border-bottom: 5px solid transparent;
	animation: shapeani02 7s linear infinite;
 
}
.home-section .bg-shapes div:nth-child(4){
  height: 100px;
  width: 100px;
  top: 405%;
  left: 60%;
  z-index:4;
  background-color: transparent;
  border:5px solid #eca1f0;
  animation: shapeani02 10s linear infinite;
}
.home-section .bg-shapes div:nth-child(5){
  height: 130px;
  width: 130px;
  top: 215%;
  left: 30%;
  z-index:4;
  background-color: transparent;
  border:5px solid #62e3d0;
  animation: shapeani02 10s linear infinite;
}



@keyframes shapeani01{
  0%,100%{
    transform: translateX(0px);
  }
  50%{
    transform: translateX(50px);
  }
}

@keyframes shapeani02{
  0%,{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
}

@keyframes shapeani03{
  0%,100%{
    transform: scale(0.5);
  }
  50%{
    transform: scale(1);
  }
}
@keyframes shapeani04{
  0%,100%{
    transform: translateX(0px);
  }
  50%{
    transform: translateY(50px);
  }
}



















.zoom div img {
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.zoom div:hover img {
	-webkit-transform: scale(1.3);
	transform: scale(1.3);
}
.caption {
	text-align: center;
}
.LI-profile-badge {
	float: right;
	margin-left: 20px;
	margin-right: 20px;
	
		
}
#contact {
	text-align: right;
	margin-left: 20px;
	padding-left: 20px;
}
.myfooter{
	width: 100%;
	height: 40px;
	background-color: #2c3e50;
	
}
.copy{
	color: white;
	text-align: center;
}

.how-section1{
    margin-top:-15%;
    padding: 10%;
}
.how-section1 h4{
    color: #de52bc;
    font-weight: bold;
    font-size: 30px;
}
.how-section1 .subheading{
    color: #3931af;
    font-size: 20px;
}
.how-section1 .row
{
    margin-top: 10%;
}
.how-img 
{
    text-align: center;
}
.how-img img{
    width: 60%;
}
.bg-dark {
	background-color: black!important;
}
.tech {
	width: :350px;
	height: 250px;
}
.bg-danger {
	background-color: #de52bc!important;
}
.my-4 {
	color: #de52bc;
}
.myname {
	color:#de52bc;
}
/*contact form*/

.get-in-touch {
  max-width: 800px;
  margin: 50px auto;
  position: relative;

}
.get-in-touch .title {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 3.2em;
  line-height: 48px;
  padding-bottom: 48px;
     color: #5543ca;
    background: #5543ca;
    background: -moz-linear-gradient(left,#f4524d  0%,#5543ca 100%) !important;
    background: -webkit-linear-gradient(left,#f4524d  0%,#5543ca 100%) !important;
    background: linear-gradient(to right,#f4524d  0%,#5543ca  100%) !important;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent !important;
}

.contact-form .form-field {
  position: relative;
  margin: 32px 0;
}
.contact-form .input-text {
  display: block;
  width: 100%;
  height: 36px;
  border-width: 0 0 2px 0;
  border-color: #5543ca;
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
}
.contact-form .input-text:focus { 
  outline: none;
}
.contact-form .input-text:focus + .label,
.contact-form .input-text.not-empty + .label {
  -webkit-transform: translateY(-24px);
          transform: translateY(-24px);
}
.contact-form .label {
  position: absolute;
  left: 20px;
  bottom: 11px;
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
  color: #5543ca;
  cursor: text;
  transition: -webkit-transform .2s ease-in-out;
  transition: transform .2s ease-in-out;
  transition: transform .2s ease-in-out, 
  -webkit-transform .2s ease-in-out;
}
.contact-form .submit-btn {
  display: inline-block;
  background-color: #000;
   background-image: linear-gradient(125deg,#a72879,#064497);
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 16px;
  padding: 8px 16px;
  border: none;
  width:200px;
  cursor: pointer;
}
/*About me*/

.about{
 margin: 4em 0;
 padding: 1em;
 position: relative;
}
.about h1{
 color:#F97300;
 margin: 2em;
}

   
}
.about span{
 display: block;
 color: #888;
 position: absolute;
 left: 115px;
}
.about .desc{
 padding: 2em;
 border-left:4px solid #10828C;
}
.about .desc h3{
 color: #10828C;
}
.about .desc p{
 line-height:2;
 color:#888;
}
.gydee {
	margin-top: 80px;
	margin-left:150px;
	border: 10px inset #7291b0;
	 box-shadow: 8px 8px 2px 1px rgba(0, 0, 255, .3);


}
.aboutme {
	background-color: rgba(244, 244, 244, 0.79);
	box-shadow:  12px 12px 2px 1px rgba(0, 0, 255, .2);
	margin-top:0px;
  padding-top: 40px;
}

/*end about me*/

/*bouton*/

.btn-primary {
    color: #fff;
    background-color:#dd46e8!important;
    border-color: #007bff;
    box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2)!important;
	margin-top: 20px;
    
}
.btn-primary:hover{
	background-color: #2d5ee3!important;
}

/*top*/
#scroll_to_top {
  position: fixed;
  width: 25px;
  height: 25px;
  bottom: 50px;
  right: 30px;
}
#scroll_to_top img {
  width: 25px;
}
/*footer*/
.dev {
	margin-left:100px;
}

.header-font {
  font-family: "Josefin Slab","Helvetica Neue",Helvetica,Arial,sans-serif;
  color: #fd1506;

}
.fa-facebook{
    color:#3b5998;
}
.fa-linkedin{
    color:#0077B5;
}
.fa-twitter{
    color:#4099FF;
}
.fa-google{
    color:#d34836;
}
.bg-primary {
 background-color: #000 !important;
}

.bg-circle
{
  display: inline-block;
  width: 60px;
  height: 60px;
  padding: 14px 4px;
  color: #ececec;
  text-align: center;
  border-radius: 50%;
}

.bg-circle-outline
{
  width: 50px;
  height: 50px;
  color:smoke;
  padding: 8px 2px;
  border: 2px solid;
  border-color: smoke;
  border-radius: 50%;
}


.bg-circle a, a:hover, .media a:focus
{
  text-decoration: none !important;
  outline: none;
  color: #ececec;
}
.bg-circle-outline a, a:hover, .media a:focus
{
  text-decoration: none !important;
  outline: none;
  color:  #dd46e8;
}
.footer {
	background: #EDEFF1;
	height: auto;
	padding-bottom: 0px;
	position: relative;
	width: 100%;
	border-bottom: 1px solid #CCCCCC;
	border-top: 1px solid #DDDDDD;

}
.footer p {
	margin: 0;
}
.footer img {
	max-width: 100%;
}
.footer h3 {
	border-bottom: 1px solid #BAC1C8;
	color: #54697E;
	font-size: 18px;
	font-weight: 600;
	line-height: 27px;
	padding: 40px 0 10px;
	text-transform: uppercase;
}
.footer ul {
	font-size: 13px;
	list-style-type: none;
	margin-left: 0;
	padding-left: 0;
	margin-top: 15px;
	color: #7F8C8D;
}
.footer ul li a {
	padding: 0 0 5px 0;
	display: block;
}
.footer a {
	color: #78828D
}
.pb-3, .py-3 {
    padding-bottom: 0!important;
	




